figures/*.pkl
presentation/content/impact.tex

.ipynb_checkpoints/
*.bbl
*.blg
*.aux
dissertation.pdf
*.fdb_latexmk
*.lot
*.lof
*.fls
*.gz
*.gz(busy)
*.log
*.out
*.toc
*.sw[pokl]
.DS_Store
__pycache__/
examples/*/*.png
examples/*.gif
*.synctex(busy)
*.synctex
*.pdf
figures/trash
*.xml
*.nav
*.snm
presentation/images/*.png
presentation/images/*/*.png
presentation/images/*.eps
